In [1]:
#Import MySQL Connector/Python
import mysql.connector as connector

In [2]:
#Establish connection between Python and MySQL database via connector API
connection = connector.connect(user = "root",
                               password = "NafasAnjel2010",
                               host = "localhost")
print("connection between MySQL and Python is established.\n")

connection between MySQL and Python is established.

In [3]:
#Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

Cursor is created to communicate with the MySQL using Python.

In [4]:
#If exist, drop the database first and create it again
try:
    cursor.execute("CREATE DATABASE little_lemon")
except:
    cursor.execute("DROP DATABASE little_lemon")
    cursor.execute("CREATE DATABASE little_lemon")
print("The database little_lemon is created.\n")

cursor.execute("USE little_lemon")

The database little_lemon is created.

In [5]:
#The SQL query for table MenueItem
create_menuitem_table="""
                        CREATE TABLE MenuItem (
                        ItemID INT AUTO_INCREMENT,
                        Name VARCHAR(200),
                        Type VARCHAR(100),
                        Price INT,
                        PRIMARY KEY (ItemID)
                        );"""
#Create MenuItem table
cursor.execute(create_menuitem_table)
print("MenuItems table is created.\n")

MenuItems table is created.

In [6]:
#The SQL query for Menu table:
create_menu_table="""
CREATE TABLE Menus(
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID , ItemID)
);"""

#CREATE Menu Tabler:
cursor.execute(create_menu_table)
print("Menu table is created.\n")

Menu table is created.

In [7]:
#The SQL query for Booking table:
create_booking_table ="""
CREATE TABLE Bookings(
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

#Create table Bookings
cursor.execute(create_booking_table)

print("Bookings table is created.\n")

Bookings table is created.

In [8]:
#The SQL query for orders table:
create_orders_table = """
CREATE TABLE Orders(
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

#Create Orders table
cursor.execute(create_orders_table)

print("Orders table is created.\n")

Orders table is created.

In [9]:
#*************************************************#
#Insert query to population "MenuItems" table is:
#*************************************************#
insert_menuitmes = """
INSERT INTO MenuItem (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [10]:
print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed, you commit the change into the database 
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

In [11]:
#*******************************************************#
# Insert query to populate "Menu" table is:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table.")
# Populate MenuItems table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Menus table.
Total number of rows in Menu table: 12

In [12]:
#*******************************************************#
# Insert query to populate "Bookings" table is:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

In [13]:
#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

print("""The database "little_lemon" is ready for use.""")

Inserting data in Orders table.
Total number of rows in Orders table: 5

The database "little_lemon" is ready for use.

In [14]:
# The SQL query is:
sql_query = """SELECT 
COUNT(BookingID) AS n_bookings,
HOUR(BookingSlot) AS Hour 
FROM Bookings
GROUP BY Hour
ORDER BY Hour ASC;"""

# Execute the query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print records in the required format using for loop
print("""Upcoming Bookings:\n""")
#print(cols)
for result in results:
    print("Hour: ",result[1],"<<>>", result[0], "Booking/s")

Upcoming Bookings:

Hour:  15 <<>> 1 Booking/s
Hour:  17 <<>> 1 Booking/s
Hour:  18 <<>> 1 Booking/s
Hour:  19 <<>> 2 Booking/s
Hour:  20 <<>> 1 Booking/s

In [15]:
import datetime as dt

# The SQL query is: 
sql_query = """SELECT 
TableNo, 
GuestFirstName, 
GuestLastName, 
BookingSlot 
FROM Bookings 
ORDER BY BookingSlot;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()
# Print records in the required format
print("The guests and their booking slots are:\n")
for result in results: 
    time = str(result[3])
    hour = dt.datetime.strptime(time,'%H:%M:%S').hour
    minute = dt.datetime.strptime(time,'%H:%M:%S').minute
    print("[Table no:]",result[0],">>",result[1],result[2], "is expected to arrive at:", 
          hour,"hrs and", minute, "mins")

The guests and their booking slots are:

[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 8 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

In [16]:
"""UPDATE Bookings 
SET BookingSlot=ADDTIME(BookingSlot,"1:00:00") 
WHERE BookingID=2;"""

# The SQL query is: 
sql_query = """SELECT 
BookingID, 
TableNo, 
BookingSlot, 
ADDTIME(BookingSlot,"1:00:00") as NewTime 
FROM Bookings
WHERE TableNo = 12 AND BookingID = 2;"""

# Execute query 
cursor.execute(sql_query)
# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print time change alert.
print("Booking time change ALERT!!")
for result in results:  
    print("Booking ID:",result[0])
    print("Table number:",result[1])
    print("Booked slot:",result[2])
    print("New arrival time:",result[3])

Booking time change ALERT!!
Booking ID: 2
Table number: 12
Booked slot: 19:00:00
New arrival time: 20:00:00

In [17]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.